# Copy to pipeline.env and edit values

# Basic
PROFILE=hpc
RESUME=true
PIPELINES_ROOT=/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines

# Raw input
RAW_DATA_DIR=/ictstr01/groups/idc/projects/uhlenhaut/jiang/data/tr4_chip
FASTQ_PATTERN_FASTQC='*fastq.gz'
FASTQ_PATTERN_FASTP='*_R{1,2}_001.fastq.gz'

# Reference / annotation
REFERENCE_FASTA=/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/reference/Mus_musculus/GRCm39/toplevel_bwa/index.fa
GTF=/ictstr01/groups/idc/projects/uhlenhaut/jiang/reference/gtf/mm39.gencode.vM34.annotation.gtf

# Sheet files (prepare once)
MACS3_SAMPLESHEET=${PIPELINES_ROOT}/nf-macs3/macs3_samplesheet.csv
IDR_PAIRS_CSV=${PIPELINES_ROOT}/nf-idr/idr_pairs.csv
DIFFBIND_SAMPLESHEET=${PIPELINES_ROOT}/nf-diffbind/samplesheet.csv
FRIP_SAMPLESHEET=${PIPELINES_ROOT}/nf-frip/frip_samplesheet.csv
DEEPTOOLS_REGIONS_SHEET=${PIPELINES_ROOT}/nf-deeptools-heatmap/regions_sheet.csv
HOMER_MOTIF_COMPARE_SHEET=${PIPELINES_ROOT}/nf-homer/motif_compare_sheet.csv

# Optional toggles
RUN_HOMER_MOTIF_COMPARE=true
RUN_DEEPTOOLS_HEATMAP=true
RUN_DIFFBIND=true
RUN_RESULT_DELIVERY=true

# Optional output tag for result-delivery
DELIVERY_TAG=
